%header.Headerr
  .Header__Inner
    .Header__Inner__Main
      %h1.Icon
        = link_to "#" do
          = image_tag asset_path("material/logo/logo.png")
      .SearchBox
        %form
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit"}
            .SearchBox__Icon
              = image_tag "material/icon/icon-search 1.png"
          %input{:name => "authenticity_token", :type => "hidden", :value => "uVZj7A/coIgKpdbByo6mUcAG7s+19NBpq1fiUVHbwLIRxtm9Vg6SyAZd9bPXrcKVvU4mAPkfYpf73EWM+wZgNw=="}/
    .Header__Inner__Menuber
      %ul.ListLeft
        %li.ListsLeft__Categories
          = link_to "#" do
            カテゴリ
        %li.ListsLeft__Categories
          = link_to "#" do
            ブランド
      %ul.ListRight
        - if user_signed_in?
          %li.ListLogOut__Item
            = link_to destroy_user_session_path, method: :delete do
              ログアウト
            = link_to "住所登録", new_addressinfo_path(@address) 
        - else
          %li.ListLeft__Item
            = link_to new_user_session_path do
              ログイン
          %li.ListRight__Item
            = link_to new_user_registration_path do
              新規登録
          

%nav.user_name
  %ul
    %li
      %a
      =link_to "https://www.mercari.com/jp/" do
        メルカリ
      %i.right_arrow
      = icon('fas', 'angle-right')  
    %li
      %span
        name

.user_body
  .user_body__settings
    .user_body__settings__title
      アカウント設定
    %ul.setting_list
      %li
        .setting_list__contents
          = link_to "#" do
            .setting_list__contents__box
              .setting_list__contents__box__name
                ログアウト
              .setting_list__contents__box__icon
                = icon('fas', 'angle-right')  
      %li
        .setting_list__contents
          = link_to "#" do
            .setting_list__contents__box
              .setting_list__contents__box__name
                クレジットカード新規登録/編集
              .setting_list__contents__box__icon
                = icon('fas', 'angle-right')
      
      
  .user_body__user_main
    .user_data
      .user_data__box1
        = link_to "https://www.mercari.com/jp/u" do
          = image_tag "material/icon/user_icon.png", id: "pic1"
        .user_data__box1__name
          = link_to "https://www.mercari.com/jp/u" do
            name
        .user_data__box1__contents
          %span.good
            評価 30
          %span
            出品数 30
    .good_assessment
      .good_assessment__all
        .icon_boxes1
          = icon("fas", "laugh")
          .number
            3
        .icon_boxes2
          = icon("fas", "meh")
          .number
            2
        .icon_boxes3
          = icon("fas", "frown")
          .number
            1
        
    .social_kink
      %ul.social_kink_box
        %li.social_link_icon1
          =link_to "https://facebook.com/" do
            = icon('fab', 'facebook-square')
        %li.social_link_icon2
          =link_to "https://twitter.com/" do
            = icon('fab', 'twitter-square')
        %li.social_link_icon3
          =link_to "https://line.me/ja/" do
            = icon('fab', 'line')

    %section.exhibition_list
      %h1.exhibition_list__head
        この出品者の商品
      .exhibition_list__box
        %section.item_box1
          .item_box1__photo
          = image_tag 'material/pict/pict-reason-03.jpg'
          .item_box1__body
            %h2.item_box1__body__name
              eeeeeeeeeeeeeeeeeeeeeeeee
            .item_box1__body__price
              %div.item_price
                ¥1,000
              %div.heart_mark
                = icon('far', 'heart')
                %span
                  1
        %section.item_box2
          .item_box2__photo
          = image_tag 'material/pict/pict-reason-03.jpg'
          .item_box2__body
            %h2.item_box2__body__name
              eeeeeeeeeeeeeeeeeeeeeeeee
            .item_box2__body__price
              %div.item_price
                ¥1,000
              %div.heart_mark
                = icon('far', 'heart')
                %span
                  1
        %section.item_box2
          .item_box2__photo
          = image_tag 'material/pict/pict-reason-03.jpg'
          .item_box2__body
            %h2.item_box2__body__name
              eeeeeeeeeeeeeeeeeeeeeeeee
            .item_box2__body__price
              %div.item_price
                ¥1,000
              %div.heart_mark
                = icon('far', 'heart')
                %span
                  1

.footerr
  .icons
    .icons__icon
      .icons__icon__head
        FURIMAについて
        %ul
          %li.icons__icon__head__category
            = link_to("会社概要 (運営会社)", {})
          %li.icons__icon__head__category
            = link_to("プライバシーポリシー", {})
          %li.icons__icon__head__category
            = link_to("FURIMA利用規約", {})
          %li.icons__icon__head__category
            = link_to("ポイントに関する特約", {})
    .icons__icon
      .icons__icon__head
        FURIMAを見る
        %ul
          %li.icons__icon__head__category
            = link_to("カテゴリー一覧", {})
          %li.icons__icon__head__category
            = link_to("ブランド一覧", {})
    .icons__icon
      .icons__icon__head
        ヘルプ＆ガイド
        %ul
          %li.icons__icon__head__category
            = link_to("FRIMAガイド", {})
          %li.icons__icon__head__category
            = link_to("FRIMAロゴ利用ガイドライン", {})
          %li.icons__icon__head__category
            = link_to("お知らせ", {})
  .footer_mark
    = image_tag "material/logo/logo-white.png"
    @FURIMA


