%header.Header
  .Header__Inner
    .Header__Inner__Main
      %h1.Icon
        = link_to "root_path" do
          = image_tag asset_path("material/logo/logo.png")
      .SearchBox
        %form
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit"}
            .SearchBox__Icon
              = image_tag "material/icon/icon-search 1.png"
          %input{:name => "authenticity_token", :type => "hidden", :value => "uVZj7A/coIgKpdbByo6mUcAG7s+19NBpq1fiUVHbwLIRxtm9Vg6SyAZd9bPXrcKVvU4mAPkfYpf73EWM+wZgNw=="}/
    .Header__Inner__Menuber
      %ul.ListLeft
        %li.ListsLeft__Categories
          = link_to "#" do
            カテゴリ
        %li.ListsLeft__Categories
          = link_to "#" do
            ブランド
      %ul.ListRight
        - if user_signed_in?
          %li.ListLogOut__Item
            = link_to "マイページ", "/users/show"
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.ListLeft__Item
            = link_to new_user_session_path do
              ログイン
          %li.ListRight__Item
            = link_to new_user_registration_path do
              新規登録
          