= render partial: "header"
.main
  .section1
    %h1 人生を変えるフリマアプリ
    %p.text 
      FURIMAはだれでも簡単に出品・購入できる
      %br フリマアプリです
    .img_box
      = link_to "https://apps.apple.com/jp/app/apple-store/id375380948" do
        = image_tag ("material/logo/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg"), class: "img1"
      = link_to "https://play.google.com/store" do
        = image_tag ("material/logo/google-play-badge (1).svg"), class: "img2"
  .section2
    %h2 FURIMAが選ばれる３つの理由
    .boxes
      .boxes__box
        .number 1
        = image_tag "material/pict/pict-reason-01.jpg"
        %p.first
          %span 3分
          ですぐ出品
        %p スマホで入力するだけで簡単に出品できる！
      .boxes__box
        .number.edit_first 2
        = image_tag "material/pict/pict-reason-02.jpg"
        %p.first
          %span シンプル 
          で使いやすい
        %p めんどくさい入力は必要なく、検索も購入もスムーズ！
      .boxes__box
        .number.edit_second 3
        = image_tag "material/pict/pict-reason-03.jpg"
        %p.first.second
          %span.first 手数料 
          業界最安
        %p 最大3%でお得に出品&購入！
  .section3
    %h1 会員数日本一
    %p.text 
      FURIMAは、フリマアプリで最も人気。
      %br 
        出品・購入回数も業界最多です！
        %br 欲しかったあの商品に出会えるかもしれません。
    .img_box
      = link_to "https://apps.apple.com/jp/app/apple-store/id375380948" do
        = image_tag ("material/logo/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg"), class: "img1"
      = link_to "https://play.google.com/store" do
        = image_tag ("material/logo/google-play-badge (1).svg"), class: "img2"
   
  .section4
    %h2 FURIMAの特徴
    .boxes
      .boxes__box
        = image_tag "material/icon/icon-01.png"
        %p.first
          簡単に売り買いできる
        %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .boxes__box
        = image_tag "material/icon/icon-03.png"
        %p.first
          売上金は即日振込みに対応
        %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .boxes__box
        = image_tag "material/icon/icon-04.png"
        %p.first.second
          様々な支払いに対応
        %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .section5
    %h3 
      ピックアップ
      %p 新規投稿商品
    .contents
      - @items.each do |item|
        = link_to item_path(item.id), class: "contents__content" do
          = image_tag item.images.first.src.url 
          - if item.buyer_id.present?
            .items-box_photo__sold
              .items-box_photo__sold__inner SOLD
          .name 
            = item.name
          .second
            = "#{item.price} 円"
            %br （税込み)
          %p.star ★1
    
    //制限三枚のページネーションを追加します
    = paginate(@items) 

  .section7
    %p 
      誰でも簡単、人生を変えるフリマアプリ
      %br.text 今すぐダウンロード
    .img_box
      = link_to "https://apps.apple.com/jp/app/apple-store/id375380948" do
        = image_tag ("material/logo/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg"), class: "img1"
      = link_to "https://play.google.com/store" do
        = image_tag ("material/logo/google-play-badge (1).svg"), class: "img2"

  = render partial: "footer"


  //カメラボタン⇨出品ページに飛びます
  - if user_signed_in? 
    .camera_btn
      = link_to new_item_path do
        = image_tag 'material/icon/icon_camera.png'
        


