%main.ItemIntroduction
  = render partial: "header"
  .ItemIntroduction__Inner
    %h1 孫正義
    .ItemIntroduction__MainContents
      .PhotoBox
        .PhotoBox__Inner
          = link_to "#", class: "MainPhoto" do
            = image_tag "material/pict/son1.jpeg"
          .PhotoBox__Inner__Footer
            .FooterBox
              = link_to "#", class: "MainPhoto-Footer" do
                = image_tag "material/pict/son2.jpeg"
            .FooterBox
              = link_to "#", class: "MainPhoto-Footer" do
                = image_tag "material/pict/son3.jpeg"
      .ItemShowBox
        %table
          %thead
            %tr.Top-tabel
              %th.left 出品者
              %th.TableName
                アマ早
                .btn-group
                  = link_to "#" do
                    %i.fa.fa-smile{ :style => "color: red"}> 63
                  = link_to "#" do
                    %i.fa.fa-meh{ :style => "color: orange"}> 0
                  = link_to "#" do
                    %i.fa.fa-frown{ :style => "color: blue"}> 63
          %tbody
            %tr
              %th.left カテゴリー
              %th メンズ
          %tbody
            %tr
              %th.left ブランド
              %th Softbank
          %tbody
            %tr
              %th.left 商品の状態
              %th 新品同様
          %tbody
            %tr
              %th.left 配送料の負担
              %th 購入者負担
          %tbody
            %tr
              %th.left 配送方法
              %th 宅配便
          %tbody
            %tr
              %th.left 発送元の地域
              %th 福岡
          %tbody
            %tr
              %th.left 発送日の目安
              %th 翌日配送
    .ItemPriceBox
      .ItemPriceBox__P.right
        %span.Price-B ¥
        %span.Price-B 9,000
      .ItemPriceBox__D.left
        %span.Price-S (税込)
        %span.Price-S 送料込み
    = link_to "#" do
      .ItemBuyBtn.b-radius
        購入画面に進む
        

