%main.ItemIntroduction
  = render partial: "header"
  .ItemIntroduction__Inner
    .title=@item.name
    .ItemIntroduction__MainContents
      .PhotoBox
        .PhotoBox__Inner
          = image_tag @item.images.first.src.url
          - if @item.buyer_id.present?
            .items-box_photo__sold
              .items-box_photo__sold__inner SOLD
        .PhotoBox__Footer
          .FooterBox
            - @item.images.each do |image|
              = image_tag image.src.url
      .ItemShowBox
        %table
          %thead
            %tr.Top-tabel
              %th.left 出品者
              %th.TableName
                = @item.saler.nickname
                .btn-group
                  = link_to "#" do
                    %i.fa.fa-smile{ :style => "color: red"}> 63
                  = link_to "#" do
                    %i.fa.fa-meh{ :style => "color: orange"}> 0
                  = link_to "#" do
                    %i.fa.fa-frown{ :style => "color: blue"}> 63
          %tbody
            %tr
              %th.left カテゴリー
              %th
                = @category.name
          %tbody
            %tr
              %th.left ブランド
              %th 
                - if @item.brand.present?
                  = @item.brand
                - else
                  %p ---
          %tbody
            %tr
              %th.left 商品の状態
              %th 
                = @item.condition.name
          %tbody
            %tr
              %th.left 配送料の負担
              %th
                = @item.ship_method.name
          %tbody
            %tr
              %th.left 発送元の地域
              %th
                = @item.prefecture.name
          %tbody
            %tr
              %th.left 発送日の目安
              %th 
                = @item.delivery_date.name
    .ItemPriceBox
      .ItemPriceBox__P.right
        %span.Price-B ¥
        %span.Price-B
          = @item.price.to_s(:delimited)
      .ItemPriceBox__D.left
        %span.Price-S (税込)
        %span.Price-S 送料込み
    - if user_signed_in? && current_user.id != @item.saler.id && @item.buyer_id.nil?
      = link_to "/items/#{@item.id}/purchases/new" do
        .ItemBuyBtn.b-radius
          購入画面に進む
    - elsif user_signed_in? && current_user.id == @item.saler.id
      .btn_box
        = link_to "編集", "#", class: "btn_box--edit_btn"
        = link_to "削除", "/items/#{@item.id}", method: :delete, class: "btn_box--delete_btn"

    - else @item.buyer.id.present?
      .ItemBuyBtn.b-radius
        売り切れ


    %end





      .ItemBox
        %p.ItemBox__Inner 
          = @item.version

        
      .Item-Button-Container
        .Item-Button-Container__Left
          = link_to "#", class: "IineBtn" do
            %i.fa.fa-thumbs-up{ :style => "color: red"}
            %p いいね！

        .Item-Button-Container__Center
          = link_to "#", class: "TuhouBtn" do
            %i.fa.fa-hand-middle-finger{ :style => "color: black"}
            %p 通報
        
        .Item-Button-Container__Right
          = link_to "#", class: "AnshinBtn" do
            %i.fas.fa-lock{:style => "color: black"}
            %p 安心・安全への取り込み

  .ItemIntroduction__Comments
    .ItemIntroduction__Comments__text
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .form
      = form_for "#" do |f|
        = f.text_field :text, placeholder: "コメント待つ", class: 'InputBox2'
        = f.submit "コメントする", class: 'Submit-Btn'

  .ItemIntroduction__Menuber
    .ItemIntroduction__Menuber__Left
      = link_to "#" do
        %p << 天早と秘密の部屋
    .ItemIntroduction__Menuber__Right
      = link_to "#" do
        %p 天早とSoftbankの関係性 >>
  
  .ItemIntroduction__SnsBox
    .ItemIntroduction__SnsBox__Inner
      = link_to "https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fshare.php%3Fu%3Dhttps%253A%252F%252Fwww.mercari.com%252Fjp%252Fitems%252Fm85283253581%252F&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=ja_JP", class: "FaceBtn" do
        %i.fab.fa-facebook-square{:style => "color: white"}
      = link_to "https://twitter.com/Maeda66277577", class: "TwitterBtn" do
        %i.fab.fa-twitter{:style => "color: white"}
      = link_to "https://line.me/ja/", class: "LineBtn" do
        %i.fab.fa-line{:style => "color: white"}
  
  .ItemIntroduction__Items
    .ItemIntroduction__Items__1row
      %h1 アマ天さんの他のアイテム
      .contents
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/son1.jpeg"
          %p 天羽屋
          .money
            %p.second
              4770円（税込み)
            %p.star ★1
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/son1.jpeg"
          %p ソンさん
          .money
            %p.second
              4770円（税込み)
            %p.star ★1
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/drink1.jpg"
          %p 炭酸水
          .money
            %p.second
              4770円（税込み)
            %p.star ★1
    .ItemIntroduction__Items__1row.Top
      .contents
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/msk.jpg"
          %p マスク
          .money
            %p.second
              4770円(税込み)
            %p.star ★1
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/msk2.jpg"
          %p マスク
          .money
            %p.second
              4770円（税込み)
            %p.star ★1
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/msk3.jpg"
          %p マスク
          .money
            %p.second
              4770円（税込み)
            %p.star ★1
    .ItemIntroduction__Items__2row.Top
      %h1 その他の出品者のアイテム
      .contents
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/msk.jpg"
          %p マスク ※一点限り
          .money
            %p.second
              570円(税込み)
            %p.star ★1
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/msk2.jpg"
          %p マスク ※最後の一点
          .money
            %p.second
              730円（税込み)
            %p.star ★1
        = link_to "#", class: "contents__content" do
          = image_tag "material/pict/msk3.jpg"
          %p マスク
          .money
            %p.second
              770円（税込み)
            %p.star ★1


  .ItemIntroduction__Categories
    .ItemIntroduction__Categories__List
      = link_to "/" do
        メルカリ
      .text >
      .text 孫正義
  
  = render partial: "footer"

